section>.container2{
    padding-bottom: 20px;
    padding: 40px;
    background-color: #fff;
    display: block;
    margin-left: 100px;
    padding-left: 10px;
    margin-right: 20px;
    padding-right: 10px;
    box-sizing: border-box;
}
.container2>.title1>h2{
    color: #434343;
    margin-bottom: 20px;
    margin-top: 0px;
    font-size: 25px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: lighter;
    line-height: 1.5;
}
.row{
    margin-left: -10px;
    margin-right: -10px;
}
.row>.div1{
    border: 1px solid #e6e6e6;
    width: 500px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
}
.row>.div1::after{
    content: " ";
    display: table;
}

.div1:hover{
    box-shadow: gainsboro 3px 3px 3px 3px;
}
div,h3:hover{
    color: lightskyblue;
}
.div1>img{
    display: flex;
    width: 120px;

    margin-right: 20px;
    padding: 20px;
    float: left;
    align-items: center;
    height: 64px;
    justify-content: center;
}
.div1>h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 18px;
    font-weight: 550;
    color: #233d7a;
}
.div1>p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 500;
    margin: 0 0 20px 0;
color: #434343;
}