/* .col{
    width: 12%;
    /* height: 35px; */
    border: 1px solid white;
    color: white;
    align-content: center;
    /* align-items: center; */
    padding: 4px 25px;
    font-size: 11px;
    z-index: 5;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    vertical-align: middle;

} */