div{
    width: 800px;
    height: 100px;
    background-color: blue;
    margin-top: 200px;
    margin: 15%;
    padding: 40px;

}
p{
    text-align: justify;
    background-color: red;
    padding: 20px;
    color: white;
}